[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/paho.mqtt.cpp"]
	path = 3rdparty/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
